html {
	overflow: hidden;
}

/*
._20bp, ._z4_ {
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
*/

/* THEME 1 */
/*
._1q5- {
  background-image: url("http://www.noahbradley.com/images/Noah-Bradley_A-Place-To-Call-Home.jpg") !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
._5742, ._49ou, ._4_j5 {
  background-color: rgba(255,255,255,0.6) !important;
}
._4rv3 {
  background-color: rgba(0,0,0,0.5) !important;
}
._llj {
  border-bottom: 1px solid rgba(255,255,255, .05) !important;
}
time._3oh- {
  background-color: rgba(255,255,255,0.3) !important;
  padding: 3px 15px;
  border-radius: 8px;
}
._llq, ._36zg, ._45m_._2vxa, ._1n-e {
  color: #ddd !important;
}
._497p {
  color: #eee !important;
}
*/

/* THEME 2 */
._1enh, ._1ht1, ._5t4c, ._5l37 {
  background-color: #224760 !important;
}
._36ic, ._225b, ._5iwm ._58al {
  background-color: rgba(0,0,0,0.15) !important;
}
._1ht1._1ht2 {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
._1enh .uiScrollableAreaGripper {
  background-color: rgba(255,255,255,0.25) !important;
  border: 1px solid rgba(100,100,100,.3);
}
._1qt4:not(:first-of-type), ._5l38 {
  border-top: 1px solid rgba(255,255,255,0.1);
}
._5l37:first-of-type ._5l38, ._1ht1:first-child ._1qt4 {
  border-top: none;
}
._58al::-webkit-input-placeholder {
  color: rgba(255,255,255,0.3) !important;
}
._1htf, ._1ht7, ._225b, ._5iwm ._58al {
  color: rgba(255,255,255,0.5) !important;
}
._1ht6, ._364g, ._5l37 {
  color: rgba(255,255,255,0.9)  !important;
}
._1ht6, ._llq ._3oh-, ._3eur ._3oh-, ._17w2 ._3oh-, ._364g {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif !important;
}

._20bp .tooltip {
	background: transparent !important;
	text-decoration: none !important;
	font-style: normal !important;
	color: #0077e5 !important;
  word-break: keep-all;
}

.tooltip:hover {
	background: transparent !important;
}

._nd_ ._hh7 {
  /*
  background-color: #cfd8dc !important;
  */
  background-color: #CEEF9E !important;
  color: #141823 !important;
}

._nd_ ._hh7 a {
  color: #0077e5 !important;
}

._4_j5._4t9y {
  display: none;
}

.sticker {
	width: 230px;
  height: 20px;
  border-radius: 8px;
  content: "???";
	/*background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/missing.jpg");*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Keyboard */

._5irm {
  margin-left: 52px !important;
}

.key-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  z-index: 99;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.key-icon.mtg {
  background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/mtg_icon.png");
}

.key-icon.hearthstone {
  background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/hearthstone_icon.png");
  background-size: 80%;
}

.preview-region {
  width: 220px;
  height: 333px;
  position: absolute;
  top: -476px;
  left: -2px;
  z-index: 99;
  background: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.auto-region {
  display: none;
  min-width: 400px;
  max-width: 400px;
  height: 155px;
  position: absolute;
  top: -157px;
  left: -2px;
  z-index: 99;
  background: rgba(255,255,255,0.95);
  /*
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  */
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*
.auto-region ul {
  margin-top: 5px;
}
*/
.auto-region ul li {
  color: #0077e5 !important;
  font-size: 1em;
  padding: 0.5em 1em;
  /*border-top: 1px solid rgba(0,0,0,0.1);*/
}

.auto-region ul li:first-of-type {
  border: none;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
.tooltip {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
.tooltip:before,
.tooltip:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
.tooltip:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 220px;
  height: 319px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 8px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.0);
  color: #fff;
  content: "";
  background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/missing.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;

  -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}

.tooltip.right:before {
	margin-left: -180px;
}

/* Triangle hack to make tooltip look like a speech bubble */
.tooltip:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.0);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
.tooltip:hover:before,
.tooltip:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* window wrapper */
._4sp8 {
	min-width: 0;
}

/* hide footer at login view */
._210n {
	display: none;
}

/* first time user popup */
._s15 {
	display: none;
}

/* right-column */
._1q5- {
	border-left: 1px solid rgba(0, 0, 0, .10) !important;
}

/* hide settings menu */
.uiContextualLayerBelowLeft ._5v-0._53il {
	display: none !important;
}

/* hide settings icon */
._30yy._2fug._p {
	display: none !important;
}

/* hide title */
._1tqi {
	display: none;
}

/* narrower titlebar */
._36ic,
._5742 {
	height: 40px !important;
	padding: 4px !important;
}
._fl2 {
	padding: 3px 8px !important;
}
/* adjust `To` field for narrower titlebar */
._2y8y {
	min-height: 40px !important;
	padding: 8px !important;
}

/* `New messages` popup */
._2xhi._5vn4 ._2xhj {
	display: none;
}

/* move the contextual back button so it's not obstructed by the native traffic lights */
._30yy._2oc9 {
	margin-left: 65px !important;
}

@media all and (max-width: 640px) {
	/* make right-column flexible in compact mode */
	._1q5- {
		position: absolute !important;
		right: 0 !important;
		left: 74px !important;
		height: 100% !important;
	}

	/* `New Conversation` icon */
	._30yy[href='/new'] {
		display: none !important;
	}
}
