html {
	overflow: hidden;
}

/* Custom fonts 
._20bp {
	font-family: "OPTIBelwe-Medium";
}
*/
/*
._4u-c._1wfr {
  background-image: url("http://eskipaper.com/images/blurred-wallpaper-1.jpg") !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
*/
/*
._1q5- {
  background-image: url("http://www.noahbradley.com/images/Noah-Bradley_A-Place-To-Call-Home.jpg") !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
._5742 {
  background-color: rgba(255,255,255,0.6) !important;
}
._4rv3 {
  background-color: rgba(0,0,0,0.5) !important;
}
._llq, ._36zg, ._45m_._2vxa, ._1n-e, ._5i_d.__6l {
  color: #ddd !important;
}
._497pm {
  color: #eee !important;
}
*/

._20bp .tooltip {
	background: transparent !important;
	text-decoration: none !important;
	font-style: normal !important;
	color: #0077e5 !important;
}

.tooltip:hover {
	background: transparent !important;
}

._nd_ ._hh7 {
  /*
  background-color: #cfd8dc !important;
  */
  background-color: #CEEF9E !important;
  color: #141823 !important;
}

.sticker {
	width: 220px;
  height: 319px;
  border-radius: 4px;
	background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/missing.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
.tooltip {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
.tooltip:before,
.tooltip:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
.tooltip:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 220px;
  height: 319px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 8px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.0);
  color: #fff;
  content: "";
  background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/missing.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;

  -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}

.tooltip.right:before {
	margin-left: -180px;
}

/* Triangle hack to make tooltip look like a speech bubble */
.tooltip:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.0);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
.tooltip:hover:before,
.tooltip:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* window wrapper */
._4sp8 {
	min-width: 0;
}

/* hide footer at login view */
._210n {
	display: none;
}

/* first time user popup */
._s15 {
	display: none;
}

/* right-column */
._1q5- {
	border-left: 1px solid rgba(0, 0, 0, .10) !important;
}

/* hide settings menu */
.uiContextualLayerBelowLeft ._5v-0._53il {
	display: none !important;
}

/* hide settings icon */
._30yy._2fug._p {
	display: none !important;
}

/* hide title */
._1tqi {
	display: none;
}

/* narrower titlebar */
._36ic,
._5742 {
	height: 40px !important;
	padding: 4px !important;
}
._fl2 {
	padding: 3px 8px !important;
}
/* adjust `To` field for narrower titlebar */
._2y8y {
	min-height: 40px !important;
	padding: 8px !important;
}

/* `New messages` popup */
._2xhi._5vn4 ._2xhj {
	display: none;
}

/* move the contextual back button so it's not obstructed by the native traffic lights */
._30yy._2oc9 {
	margin-left: 65px !important;
}

@media all and (max-width: 640px) {
	/* make right-column flexible in compact mode */
	._1q5- {
		position: absolute !important;
		right: 0 !important;
		left: 74px !important;
		height: 100% !important;
	}

	/* `New Conversation` icon */
	._30yy[href='/new'] {
		display: none !important;
	}
}
