html {
	overflow: hidden;
}

#js_1 {
  visibility: hidden;
}

#js_1.show {
  visibility: visible;
}

._1p1t ._1p1v {
  visibility: hidden;
}

._1p1t ._1p1v.show {
  visibility: visible;
}

/* Keyboard */
/*
._kmc ._5rp7._5rp8 {
  display: none;
}

._kmc {
  overflow: hidden;
}

.custom-key {
  border: none;
  width: 100%;
  resize: none;
  overflow: hidden;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  height: 1.25em;
  padding: 0;
}

.custom-key:focus {
  outline: none;
}
*/

/* THEME 2 */
._1enh, ._1enh ._1ht1, ._1enh ._5t4c, ._1enh ._5l37 {
  background-color: #224760 !important;
}
._36ic, ._1enh ._225b, ._5iwm ._58al {
  background-color: rgba(0,0,0,0.15) !important;
}
._1ht1._1ht2 {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
._1enh .uiScrollableAreaGripper {
  background-color: rgba(255,255,255,0.25) !important;
  border: 1px solid rgba(100,100,100,.3);
}
._1qt4:not(:first-of-type), ._5l38 {
  border-top: 1px solid rgba(255,255,255,0.1);
}
._5l37:first-of-type ._5l38, ._1ht1:first-child ._1qt4 {
  border-top: none;
}
._58al::-webkit-input-placeholder {
  color: rgba(255,255,255,0.3) !important;
}
._1htf, ._1ht7, ._1enh ._225b, ._5iwm ._58al {
  color: rgba(255,255,255,0.5) !important;
}
._1enh ._1ht6, ._1enh ._364g, ._1enh ._5l37 {
  color: rgba(255,255,255,0.9)  !important;
}
._1ht6, ._llq ._3oh-, ._3eur ._3oh-, ._17w2 ._3oh-, ._364g {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif !important;
}

._20bp .tooltip {
	background: transparent;
	text-decoration: none !important;
	font-style: normal !important;
	color: #0077e5 !important;
  word-break: keep-all;
}

.tooltip:hover {
	background: transparent;
}

._nd_ ._hh7 {
  /*
  background-color: #cfd8dc !important;
  */
  background-color: #F5FAFA !important;
  color: #141823 !important;
}

._nd_ ._hh7 a {
  color: #0077e5 !important;
}

.hidecard ._15gf {
  display: none !important;
}

._4_j5._4t9y {
  display: none;
}

.sticker {
	width: 230px;
  height: 20px;
  border-radius: 8px;
  content: "???";
	/*background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/missing.jpg");*/
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.sticker ul.mtg {
  position: relative;
  top: 10px;
  left: 230px;
}

._nd_ .sticker ul.mtg {
  left:-45px;
}

.sticker ul.hs {
  position: relative;
  top: 60px;
  left: 220px;
}

._nd_ .sticker ul.hs {
  left:-35px;
}

.sticker ul li {
  background-color: rgba(0,0,0,0.45) !important;
  border-radius: 14px;
  margin: 5px 10px;
  width: 28px;
  height: 28px;
}

.sticker ul li:hover {
  background-color: rgba(0,0,0,0.35) !important;
}

._hh7 .sticker ul li a {
  display: block;
  text-decoration: none;
  color: #eee !important;
  font-size: 1em;
  line-height: 28px;
  width: 100%;
  text-align: center;
}

.auto-region ul li a:hover {
  text-decoration: none;
}

._nd_ ._hh7 .decktitle, .decktitle {
  color: #141823 !important;
  font-weight: bold;
  text-decoration: underline;
}

._hh7 .titlewrap a {
  color: #141823 !important;
  text-decoration: none;
}

._hh7 .titlewrap a:hover {
  text-decoration: underline;
}

._hh7.infocard, ._nd_ ._hh7.infocard {
  background: transparent !important;
  border: 1px solid rgba(0,0,0,0.1);
}

.titlewrap {
  margin-left: 35px;
}

.cardlist {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  overflow: hidden;
}

.cardlist ul {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media all and (max-width: 700px) {
  .cardlist ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

.cardlist ul li {
  text-overflow: ellipsis;
}

.cardlist ul li.separator {
  font-style: italic;
  padding: 0.5em 0;
}

/* Keyboard */

._5irm {
  margin-left: 52px !important;
}

.key-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  z-index: 99;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.mtg {
  background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/mtg_icon.png");
  background-size: 60%;
}

.icon.hs {
  background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/hearthstone_icon.png");
  background-size: 80%;
}

.inline-icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  top: 7px;
  margin-left: -5px;
  background-repeat: no-repeat;
  background-position: center;
}

.inline-icon.mtg {
  background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/mtg_icon.png");
  background-size: 80%;
}

.inline-icon.hs {
  background-image: url("https://s3-us-west-1.amazonaws.com/ggchat/assets/hearthstone_icon.png");
  background-size: 100%;
}

.inline-wrap {
  position: relative;
  right: 0;
  width: 100%;
  height: 0;
}

._nd_ .inline-wrap {
  left: 0;
}

.inline-preview {
  width: 140px;
  height: 0px;
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
  margin-right: -250px;
  z-index: 99;
  background: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

._nd_ .inline-preview {
  left: 0px;
  margin-left: -250px;
  margin-right: 0px;
}

.inline-preview.hs {
  margin-top: -50px;
}

.preview-region {
  width: 220px;
  height: 0px;
  position: absolute;
  top: -490px;
  left: -2px;
  z-index: 99;
  background: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.auto-region {
  display: none;
  min-width: 400px;
  max-width: 400px;
  height: 155px;
  position: absolute;
  top: -157px;
  left: -2px;
  z-index: 99;
  background: rgba(255,255,255,0.95);
  /*
  border-radius: 6px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
  */
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*
.auto-region ul {
  margin-top: 5px;
}
*/
.auto-region ul li {
  /*border-top: 1px solid rgba(0,0,0,0.1);*/
}

.auto-region ul li:hover {
  background-color: rgba(0,0,0,0.05);
}

.auto-region ul li a {
  display: block;
  color: #0077e5 !important;
  font-size: 1em;
  padding: 0.5em 1em;
  height: 100%;
  width: 100%;
}

.auto-region ul li a:hover {
  text-decoration: none;
}

.auto-region ul li:first-of-type {
  border: none;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
.tooltip {
  position: relative;
  z-index: 2;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
  background-size: 0% !important;
}

.tooltip.noshow {
  font-weight: normal;
}

.tooltip:hover {
  text-decoration: underline !important;
}

/* Hide the tooltip content by default */
.tooltip:before,
.tooltip:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
.tooltip:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 220px;
  height: 319px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 8px;
  color: #fff;
  content: "";
  /*background-image: attr(data-attr) !important;*/
  background-color: #000;
  background-color: hsla(0, 0%, 0%, 0.0);
  background: inherit;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  overflow: visible;
  /*
  -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
	box-shadow:5px 5px 5px rgba(0,0,0,0.3);
  */
}

.tooltip.right:before {
	margin-left: -180px;
}

/* Triangle hack to make tooltip look like a speech bubble */
.tooltip:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.0);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
.tooltip:hover:before,
.tooltip:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* window wrapper */
._4sp8 {
	min-width: 0;
}

/* hide footer at login view */
._210n {
	display: none;
}

/* first time user popup */
._s15 {
	display: none;
}

/* right-column */
._1q5- {
	border-left: 1px solid rgba(0, 0, 0, .10) !important;
}

/* hide settings menu */
.uiContextualLayerBelowLeft ._5v-0._53il {
	display: none !important;
}

/* hide settings icon */
._30yy._2fug._p {
	display: none !important;
}

/* hide title */
._1tqi {
	display: none;
}

/* narrower titlebar */
._36ic,
._5742 {
	height: 40px !important;
	padding: 4px !important;
}
._fl2 {
	padding: 3px 8px !important;
}
/* adjust `To` field for narrower titlebar */
._2y8y {
	min-height: 40px !important;
	padding: 8px !important;
}

/* `New messages` popup */
._2xhi._5vn4 ._2xhj {
	display: none;
}

/* move the contextual back button so it's not obstructed by the native traffic lights */
._30yy._2oc9 {
	margin-left: 65px !important;
}

@media all and (max-width: 640px) {
	/* make right-column flexible in compact mode */
	._1q5- {
		position: absolute !important;
		right: 0 !important;
		left: 74px !important;
		height: 100% !important;
	}

	/* `New Conversation` icon */
	._30yy[href='/new'] {
		display: none !important;
	}
}
